.eventlist {
    .category-image {
        width: 40px;
    }

    .additional-info-toggle {
        font-size: 1rem;
        margin-top: -8px;

        .fa {
            transform: scale(1, -1);
            transition-duration: .3s;
            transform-origin: center;
        }
        &.collapsed {
            .fa {
                transform: none;
                transition-duration: .3s;
                transform-origin: center;
            }
        }
    }

    .additional-info.collapse.show {
        display: flex;
    }

    > ul.events {
        border-top: solid 1px $hr-border-color;

        > li {
            border-bottom: solid 1px $hr-border-color;
        }
    }

    .static-map {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .fa-spinner {
            position: absolute;
            color: theme-color("primary");
        }
    }
}
