@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "MarkerCluster.RepairCafe";
@import "~leaflet.locatecontrol/dist/L.Control.Locate.css";

$events-map-height: 350px;

#eventsMap {
    display: none;
    height: $events-map-height;
}

.leaflet-popup-content {
    p {
        margin-top: 0;
        margin-bottom: 3px;
    }
    img.category-logo {
        width: 40px;
        height: 100%;
    }
}
