.footer-content {
    color: $white;
    font-weight: $font-weight-bold;

    a {
        color: $white;

        @include hover-focus {
            color: $gray-600;
        }
    }

    .footer-content-box > *:last-child {
        margin-bottom: 0;
    }

    .social-links a .fa-inverse {
        color: $gray-700;
    }

    .logo {
        height: 44px;
    }
}
