.main-navigation {
    background-color: $white;

    .navbar {
        @include media-breakpoint-up(lg) {
            min-height: 120px;

            .navbar-nav .nav-link {
                font-weight: $headings-font-weight;
                padding-left: 1.2rem;
                padding-right: 1.2rem;
            }
        }
    }
}
