.main-navigation {
    background-color: $white;

    .navbar {
        .navbar-nav .nav-link {
            font-weight: $headings-font-weight;
        }

        // add removed "padding" of navbar to all elements
        .navbar-brand,
        .navbar-toggler {
            margin: ($spacer / 2) $spacer;
        }
        .navbar-nav {
            padding: ($spacer / 2) $spacer;
        }

        @include media-breakpoint-up(lg) {
            min-height: 120px;

            .navbar-nav .nav-link {
                padding-left: 1.2rem;
                padding-right: 1.2rem;
            }
        }
    }
}
