.page-header {
    $page-header-image-height: 450px;
    background-color: $gray-200;

    .title-addition {
        margin-bottom: 3px;
    }

    .page-header-content > *:last-child {
        margin-bottom: 0;
    }

    .page-header-image-container {
        background-color: $white;
    }

    .page-header-image-bg-container {
        background-color: $gray-900;
    }

    .page-header-image-bg {
        height: $page-header-image-height;
        max-width: map-get($container-max-widths, xl) - $grid-gutter-width;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .page-header-image-caption p {
        margin-bottom: 0;
        padding: .5rem;
    }
}
